<h1 style="text-align:right">&nbsp;</h1>

<h1 style="text-align:center"><span style="color:#000000">قائمة بإصدارات جمعية أم المؤمنين بعجمان</span></h1>

<table border="1" cellpadding="0" cellspacing="2" class="Table" id="table1" style="width:100%">
    <tbody>
    <tr>
        <th style="height:30px; text-align:right"><strong><span style="color:#000000">م</span></strong></th>
        <th style="height:30px; text-align:right"><strong><span style="color:#000000">اسم الكتاب</span></strong></th>
        <th style="height:30px; text-align:right"><strong><span style="color:#000000">محتوى الكتاب</span></strong></th>
        <th style="height:30px; text-align:right"><strong><span style="color:#000000">السعر</span></strong></th>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">1</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب</span></p>

            <p style="text-align:right"><span style="color:#000000">لعامي 83/1984م-84/1985م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">موضوعات المسابقة الأولى:</span></p>

            <p style="text-align:right"><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; وفي أنفسكم أفلا تبصرون &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; التلفاز والفيديو وأثرهما على المجتمع &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; الطفل بين المربية والأم &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; بالعلم نقضي على الجهل &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; لا يأتيه الباطل من بين يديه ولا من خلفه &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; مكانة المرأة في الإسلام ودور الجمعيات النسائية &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; وخلق كل شيء فقدره تقديرا &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; مستقبلنا ما بعد عصر النفط &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">موضوعات المسابقة الثانية:</span></p>

            <p style="text-align:right"><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; النفس الإنسانية بين عوامل الإيمان ودعوات الإلحاد &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; الحسن بن الهيثم ومكانته العلمية &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; نتائج الحروب الصليبية على العالم الإسلامي &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; العروبة والإسلام &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">&quot; تعليم المرأة في الخليج العربي &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1986م</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">2</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب</span></p>

            <p style="text-align:right"><span style="color:#000000">لعامي 85/1986م &ndash; 86/1987م&nbsp;</span></p>
        </td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">موضوعات المسابقة الثالثة:</span></p>

            <p style="text-align:right"><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الشعر</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; القصة القصيرة</span></p>

            <p style="text-align:right"><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; دور المرأة ومكانتها بين أحكام الإسلام والعرف السائد في المجتمعات الإسلامية وفي ظل المجتمع الغربي &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; الشريف الإدريسي وأثر المسلمين في علم الجغرافيا &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; انقسام الآراء حول شخصية السلطان عبد الحميد الثاني &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; أخطار الدعوة العامية في البلاد العربية ومكانة الفصحى وصلتها بالقرآن الكريم &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; الأمن الغـ&nbsp; ائي في الخليج بين الواقع والإمكانيات والطموحات &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">موضوعات المسابقة الرابعة:</span></p>

            <p style="text-align:right"><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الشعر</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; القصة القصيرة</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدراسة الأدبية&nbsp; &quot; الأديب البحريني الأستاذ إبراهيم العريض &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">مجال ا لبحث الاجتماعي :</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; التعليم في إمارة عجمان ، تاريخه وواقعه &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; جنوح الأحداث في إمارة الشارقة &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; العاطفة الدينية والفكر الإسلامي في شعر أحمد شوقي &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; الأستاذ أبو الحسن الندوي ، آراؤه من خلال كتبه ورسائله بوجه عام وكتابه</span></p>

            <p style="text-align:right"><span style="color:#000000">&nbsp;(ما&nbsp;ا خسر العالم بانحطاط المسلمين) بوجه خاص &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; نظرية التطور بين التراث العربي والعلم الحديث &quot;</span></p>

            <p style="text-align:right"><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; خروج المسلمين من الأندلس وحركة الكشوف الجغرافية &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1988م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">3</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب</span></p>

            <p style="text-align:right"><span style="color:#000000">لعامي 87/1988م &ndash; 88/1989م&nbsp;</span></p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الخامسة:</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدراسة الأدبية &quot; قضية فلسطين في شعر الخليج العربي &quot;</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; دور سكان الخليج العربي في صد الحملات الاستعمارية &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; الفكر العلماني وأثره في الأمة الإسلامية &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; منهج الاعتدال في الإسلام &quot;</span></p>

            <p><span style="color:#000000">موضوعات المسابقة السادسة:</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الدراسة الأدبية &quot; أناشيد الطفولة في المجتمع الخليجي &quot;</span></p>

            <p><span style="color:#000000">&nbsp; &quot; الشاعر الخليجي عبد الله الطائي &quot;</span></p>

            <p><span style="color:#000000">مجال البحث الاجتماعي :</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; الجمعيات النسائية ودورها في المجتمع &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; تعاطي المخدرات وأثره على المجتمع &quot;</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; مشكلات الشباب في منطقة الخليج العربي &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; دراسة حول الشيخ عبد الله محمد الشيبة &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; دراسة حول الشيخ أحمد بن عبد العزيز المبارك &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &quot; حقوق الإنسان بين خطبة حجة الوداع وإعلان الأمم المتحدة &quot;</span></p>

            <p><span style="color:#000000">&nbsp;&nbsp;&nbsp; &quot; عوائق التقدم العلمي في المجتمعات العربية والإسلامية &quot;&nbsp;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1990م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">15درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">4</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب - لعام 1990م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة السابعة:</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">- الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;القصة القصيرة</span></p>

            <p><span style="color:#000000">-&nbsp; الدراسة الأدبية &quot; الشاعر الخليجي فهد العسكر &quot;</span></p>

            <p><span style="color:#000000">مجال البحث الاجتماعي :</span></p>

            <p><span style="color:#000000">- &quot; مشكلة الأمية في منطقة الخليج العربي &quot;</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp; &quot; المسجد ودوره في المجتمع &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp; &quot; إسهام المسلمين في ميدان العلوم الطبية &quot;</span></p>

            <p><span style="color:#000000">&nbsp; &quot; رعاية الطفل في الإسلام &quot;&nbsp;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1992م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">5</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب - لعام 1991م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الثامنة:</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp; &quot; الوقت والإنسان &quot;</span></p>

            <p><span style="color:#000000">-&nbsp; &quot; الجندية وأهميتها في بناء الوطن والمواطن &quot;</span></p>

            <p><span style="color:#000000">&quot; القيم الإسلامية بين المفهوم والتطبيق &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1992م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">6</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب - لعام 1992م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة التاسعة:</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الإسلام والتمييز العنصري &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; سقوط الفكر الشيوعي &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الإسلام والعلم &quot;</span></p>

            <p><span style="color:#000000">&nbsp; &quot; ابن ماجد .. حياته وآثاره &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1994م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">7</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب &ndash; لعام 1993م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة العاشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; المسلمون في الجمهوريات المستقلة &ndash; الاتحاد السوفيتي سابقاً &quot;&nbsp;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; دور الأب في الأسرة &quot;</span></p>

            <p><span style="color:#000000">&quot; السفن في دول مجلس التعاون الخليجي عبر التاريخ</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1995م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">8</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1993م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة العاشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث العلمية :</span></p>

            <p><span style="color:#000000">- &quot; التدخين وأثره على الصحة &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الحاسوب تقنية واتجاهات &quot;</span></p>

            <p><span style="color:#000000">&quot; صناعة الإنشاءات في دول مجلس التعاون الخليجي &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1995م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">12 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">9</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب &ndash; لعام 1994م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الحادية عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; ملامح القيادة عند صلاح الدين الأيوبي &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الإعلام ودوره في تنشئة الطفل في دول الخليج &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; أشهر المتاحف في دول مجلس التعاون الخليجي &quot;</span></p>

            <p><span style="color:#000000">&nbsp;&nbsp; &quot; جزر الخليج العربي بين الماضي والحاضر</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1996م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">10</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1994م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الحادية عشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث العلمية :</span></p>

            <p><span style="color:#000000">-&nbsp; &quot; الحياة البحرية وطرق حمايتها من التلوث &quot;</span></p>

            <p><span style="color:#000000">&nbsp;&nbsp; &quot; الطاقة الشمسية واستعمالاتها في الحياة العامة</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1996م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">15 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">11</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1994م</span></p>

            <p style="text-align:right"><span style="color:#000000">( الجزء الأول )&nbsp;</span></p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الحادية عشرة :</span></p>

            <p><span style="color:#000000">مجال البحث الاجتماعي :</span></p>

            <p><span style="color:#000000">-&quot; رعاية المسنين في دول مجلس التعاون الخليجي &quot;</span></p>

            <p><span style="color:#000000">&nbsp;&nbsp; &quot; رعاية المسنين في المجتمع القطري</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1996م</span></td>
        <td style="height:30px; text-align:right"><br />
            <span style="color:#000000">18 درهم</span><br />
            &nbsp;</td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">12</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1994م</span></p>

            <p style="text-align:right"><span style="color:#000000">( الجزء الثاني )&nbsp;</span></p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الحادية عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">-&nbsp; الدراسة الأدبية &quot; أدب الأطفال العربي ؟ للأمام ولكن ؟ &quot;</span></p>

            <p><span style="color:#000000">&nbsp;&nbsp;&nbsp; &quot; القصص المدرسية وتنمية قيم الإنجاز في المجتمعات الخليجية &quot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1996م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">13</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب &ndash; لعام 1995م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الثانية عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; السلطان العثماني محمد الفاتح &quot;</span></p>

            <p><span style="color:#000000">- &quot; أهمية العلاقات الأسرية وانعكاساتها على الأبناء في المجتمع &quot;</span></p>

            <p><span style="color:#000000">&quot; القدس تاريخها ومكانتها الإسلامية &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1997م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">9 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">14</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1995م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الثانية عشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث العلمية :</span></p>

            <p><span style="color:#000000">- &quot; التلوث الصناعي وأثره على بيئة دول مجلس التعاون الخليجي &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1997م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">15 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">15</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب &ndash; لعام 1996م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الثالثة عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp; &quot; جهود منظمة اليونسكو في التواصل الثقافي &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; دور العرب المسلمين في شرق أفريقيا &quot;</span></p>

            <p><span style="color:#000000">&nbsp; &quot; القاضي كعب بن سور &ndash; شخصيته وآثاره</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">16</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1996م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الثالثة عشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث العلمية &quot; الطاقة &quot; :</span></p>

            <p><span style="color:#000000">- &quot; الطاقة مع دراسة خاصة عن الغاز الطبيعي وصناعاته &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; نحو الاستفادة المثلى بالطاقة في تكييف الهواء وتحلية المياه بدول الخليج &quot;</span></p>

            <p><span style="color:#000000">&nbsp;&quot; الطاقة النفطية في دول مجلس التعاون الخليجي &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">13 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">17</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1996م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">مجال البحوث العلمية :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; جوانب من مشكلة المياه الجوفية في دول مجلس التعاون الخليجي &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">7 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">18</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1996</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">مجال البحوث التربوية :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الدور التربوي للأنشطة المدرسية اللاصفية &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">19</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم&nbsp;</span></td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;القصة القصيرة</span></p>

            <p><span style="color:#000000">الدراسة الأدبية : &quot; المجالس والأندية الأدبية في البحرين &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">8 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">20</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1996م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">مجال البحوث المتعلقة بمجتمع الإمارات :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الدور الاقتصادي للمناطق الحرة بدولة الإمارات العربية المتحدة</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">6 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">21</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب &ndash; 1997م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الرابعة عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">- &quot; الاتحاد وأثره في بناء الأمة &quot;</span></p>

            <p><span style="color:#000000">&nbsp; &quot; السلطان عبد الحميد الثاني &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">12 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">22</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1997م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الرابعة عشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث الاجتماعية :</span></p>

            <p><span style="color:#000000">- &quot; التنمية الاجتماعية في المناطق البدوية في مجتمعات الخليج العربي &quot;</span></p>

            <p><span style="color:#000000">مجال البحوث المتعلقة بمجتمع الإمارات :</span></p>

            <p><span style="color:#000000">&nbsp; &quot;واقع التنظيم الإداري في المؤسسات الحكومية بدولة الإمارات العربية المتحدة &quot;</span></p>

            <p>&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">13 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">23</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1997م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الرابعة عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">- القصة القصيرة</span></p>

            <p><span style="color:#000000">الدراسة الأدبية &quot; الصحافة القطرية ودورها في تنمية الحركة الأدبية &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1998م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">8 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">24</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب &ndash; لعام 1998م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الخامسة عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp;القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الوقف الإسلامي وأثره في التنمية الاجتماعية &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; القدوة الحسنة وأثرها في تربية النشء &quot;</span></p>

            <p><span style="color:#000000">&quot; عمر المختار حياته وجهاده &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1999م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">13 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">25</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1998م</span></p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الخامسة عشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث العلمية :</span></p>

            <p><span style="color:#000000">-&nbsp; &quot; الطب الشعبي &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1999م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">7 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">26</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1998م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة الخامسة عشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث الاجتماعية :</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; اتجاهات الفتاة الخليجية نحو القضايا الاجتماعية المرتبطة بتكوين الأسرة &quot;</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">- الشعر</span></p>

            <p><span style="color:#000000">-&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">الدراسة الأدبية &quot; الأدب الشعبي ودوره في المحافظة على القيم في المجتمع الخليجي &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1999م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">13 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">27</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الطلاب &ndash; 1999م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة السادسة عشرة :</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">-&nbsp; الشعر</span></p>

            <p><span style="color:#000000">-&nbsp; القصة القصيرة</span></p>

            <p><span style="color:#000000">مجال البحث الثقافي العام :</span></p>

            <p><span style="color:#000000">-&nbsp;&nbsp;&quot; الشيخ محمد متولي الشعراوي &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; الصحبة الصالحة &quot;</span></p>

            <p><span style="color:#000000">-&nbsp;&quot; المسلمون في الصين &quot;</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">2000م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">15 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">28</span></td>
        <td style="height:30px; text-align:center">
            <p style="text-align:right"><span style="color:#000000">مجموعة الأعمال الفائزة بجائزة راشد بن حميد للثقافة والعلوم</span></p>

            <p style="text-align:right"><span style="color:#000000">مستوى الباحثين &ndash; لعام 1999م</span></p>

            <p style="text-align:right">&nbsp;</p>
        </td>
        <td style="height:30px; text-align:right">
            <p><span style="color:#000000">موضوعات المسابقة السادسة عشرة :</span></p>

            <p><span style="color:#000000">مجال البحوث التربوية :</span></p>

            <p><span style="color:#000000">- &quot; ظاهرة العولمة وأثرها على التربية في دولة الإمارات العربية المتحدة &quot;</span></p>

            <p><span style="color:#000000">مجال الإنتاج الأدبي :</span></p>

            <p><span style="color:#000000">- الشعر</span></p>

            <p><span style="color:#000000">- القصة القصيرة</span></p>
        </td>
        <td style="height:30px; text-align:right"><span style="color:#000000">2000</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">10 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">29</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">جنوح الأحداث في دولة الإمارات ، أسبابه وطرق علاجه</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1989م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">18 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">30</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">دور الأم الإثرائي مع طفلها</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1990م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">8 دراهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">31</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">البيئة الخليجية وعوامل حمايتها من التلوث</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1993م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">15 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">32</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">التكنولوجيا المعاصرة ووسائل نقلها إلينا في منطقة الخليج</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1993م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">15 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">33</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">الزراعة ودورها في اقتصاد المملكة العربية السعودية</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1993م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">12 درهم</span></td>
    </tr>
    </tbody>
    <caption>
        <p style="text-align:right">&nbsp;</p>
    </caption>
    <tbody>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">34</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">عزوف المواطنات عن المشاركة التطوعية</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1993م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">18 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">35</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">العمل الاجتماعي بين الماضي والحاضر</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1993م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">12 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">36</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">المسجد ودوره في الإسلام</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1993م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">37</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">التركيبة الاجتماعية بين شعوب دول مجلس التعاون الخليجي</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1994م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">18 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">38</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">الصناعات البتروكيماوية في دول مجلس التعاون الخليجي</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1994م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">11 درهم</span></td>
    </tr>
    <tr>
        <td style="height:30px; text-align:right"><span style="color:#000000">39</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">المكتبة المدرسية ودورها في ثقافة الطالب</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">--</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">1995م</span></td>
        <td style="height:30px; text-align:right"><span style="color:#000000">18 درهم</span></td>
    </tr>
    </tbody>
</table>
